<div class="d-flex">
  <div id="sidebar-container" class="bg-primary">
    <div class="logo">
      <h4 class="text-light fw-bold">{{ appService.user.nombre_app }}</h4>
    </div>
    <div class="menu">
      <div class="accordion">
        <div class="accordion-item" *ngFor="let item of modules | keyvalue">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <i class="icon me-2 lead" [ngClass]="getIcon(item.key)"></i>
              {{ item.key }}
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <a
                href="#"
                class="d-block p-3"
                *ngFor="let opcion of getOpciones(item.key)"
                >{{ opcion.nombre_opcion }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--NAV BAR-->
  <div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <!--<a class="navbar-brand"   href="#">NombreEmpresa</a>-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Cuenta
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  {{ appService.user.nombre_empresa }}
                </li>
                <li>
                  <img width="30px" src="../../assets/avatar.png" />
                  <a class="dropdown-item" href="#">{{
                    appService.user.nombre_usuario
                  }}</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">{{
                    appService.user.nombre_rol
                  }}</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar"
              aria-label="Buscar"
            />
            <button class="btn btn-outline-success" type="submit">
              <i class="icon ion-md-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
