#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

.accordion-body {
  background-color: #ffff;
}

.accordion-button.collapsed {
  color: #ffffff;
  background: #111b54;
}

a:link {
  text-decoration: none;
}

.bg-primary {
  background-color: #111b54 !important;
}

.container-pages {
  padding: 80px;
}

.link {
  cursor: pointer;
}
