
    <div class=" d-flex">
      <div id="sidebar-container" class="bg-primary">
        <div class="logo">
          <h4 class="text-light fw-bold">Nombre-Logo</h4>
        </div>
        <div class="menu">

          <div class="accordion" id="accordion-1">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon ion-md-paper me-2 lead"></i>
                  Módulo 1 
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <a href="#" class="d-block  p-3">Sub-módulo 1-0</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 1-2</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 1-3</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 1-4</a>
                </div>
              </div>
            </div>
            <div class="accordion-item" id="accordion-2">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="icon ion-md-analytics me-2 lead"></i>
                  Módulo 2 
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <a href="#" class="d-block  p-3">Sub-módulo 2-1</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 2-2</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 2-3</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 2-4</a>
                </div>
              </div>
            </div>
            <div class="accordion-item" id="accordion-3">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="icon ion-md-cog me-2 lead"></i>
                  Módulo 3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <a href="#" class="d-block  p-3">Sub-módulo 3-1</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 4-2</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 4-3</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 4-4</a>
                </div>
              </div>
            </div>
            <div class="accordion-item" id="accordion-4">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="icon ion-md-contact me-2 lead"></i>
                  Módulo 4
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <a href="#" class="d-block  p-3">Sub-módulo 3-1</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 3-2</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 3-3</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 3-4</a>
                </div>
              </div>
            </div>

            <div class="accordion-item" id="accordion-5">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><i class="icon ion-md-notifications me-2 lead"></i>
                  Módulo 5 
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <a href="#" class="d-block  p-3">Sub-módulo 5-1</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 5-2</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 5-3</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 5-4</a>
                </div>
              </div>
            </div>
            <div class="accordion-item" id="accordion-6">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><i class="icon ion-md-list me-2 lead"></i>
                  Módulo 6 
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <a href="#" class="d-block  p-3">Sub-módulo 6-1</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 6-2</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 6-3</a>
                  <a href="#" class="d-block  p-3">Sub-módulo 6-4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--NAV BAR-->

      <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <!--<a class="navbar-brand"   href="#">NombreEmpresa</a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle
                  " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit"><i class="icon ion-md-search"></i></button>
              </form>
            </div>
          </div>
        </nav>




      </div>
    </div>
 
