
#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
 padding: .875rem 1.25rem; 
}

#sidebar-container .menu {
    width: 18rem;
}

.bg-primary {background-color: #111B54 !important;};