
#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
 padding: .875rem 1.25rem; 
}

#sidebar-container .menu {
    width: 18rem;
}

.accordion-body{background-color: #ffff;}

.accordion-button.collapsed {
    color: #ffffff;
    background: #111B54;
 
}



a:link{
    text-decoration: none;   
}

.bg-primary {background-color: #111B54 !important;};

