
<div id = "content">
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="font-weight-bold mb-0">Ingresar Facturacion</h1>
                    <p class="lead text-muted"> Módulo de facturación<p>

                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary w-100 aling-self-center"> Ingresar Factura</button>
                </div>
            </div>
        </div>
    </section>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 d-flex stat my-3">
                            <div class="mx-auto">
                                <h3 class="text-muted">Ingresos Mensuales</h3>
                                <h5 class="font-weight-bold"> Moneda UF</h5>
                                <h6 class="text-success"> 35.734,15 CPL</h6> 
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex stat my-3">
                            <div class="mx-auto">
                                <h3 class="text-muted">Ingresos Mensuales</h3>
                                <h5 class="font-weight-bold"> Moneda UF</h5>
                                <h6 class="text-success"> 35.734,15 CPL</h6> 
                            </div>                         
                        </div>
                        <div class="col-lg-3 d-flex stat my-3">
                            <div class="mx-auto">
                                <h3 class="text-muted">Ingresos Semanal</h3>
                                <h5 class="font-weight-bold"> Moneda CLP</h5>
                                <h6 class="text-success"> Moneda CLP</h6>
                             </div>                      
                        </div>

                        <div class="col-lg-3 d-flex my-3">
                            <div class="mx-auto">
                                <h3 class="text-muted">Ingresos Semanal</h3>
                                <h5 class="font-weight-bold"> Moneda UF</h5>
                                <h6 class="text-success"> 35.734,15 CPL</h6>
                             </div>                      
                        </div>


                    </div>

                </div>

            </div>

        </div>
    <section>

    </section>


</div>